@charset "utf-8";


#wrap{
  header{
    position: relative;


    //서브메뉴 배경판
    >.bg_lnb{
      display: none;
      position: absolute;
      z-index: 100;

      left: 0;
      top: 160px;
      background-color: #fff;
      border-top: 2px solid #eee;
      border-bottom: 2px solid #eee;
      width: 100%;
      height: 300px;
    }

    >.container{
      position: relative;
      left: 0;
      top: 0;
      border-bottom: 2px solid #eee;
      height: 160px;
      background-color: #fff;
   
    >.greenbar{
      height: 5px;
      background-color: #4A8F37;
    }

    >h1.logo{
      text-align: center;
      margin: 30px 0;
    }

    >.snb{
      display: flex;
      position: absolute;
      top: 30%;
      right: 15%;

      >li{
        margin-left: 20px;
         line-height: 30px;

         &::before{
          background-color: #ddd;
          content: '';
          display: block;
          border-radius: 50px;
          position: absolute;
          left: 38%;
          top: 50%;
          margin-top: -2px;
          height: 3px;
          width: 3px;
         }

        &:last-child{
          text-indent: -9999px;
          width: 30px;
          height: 30px;
         
          background-image: url(./../images/lang.png);
          background-repeat: no-repeat;
          background-position: 0 0px;
        }

        >a{
          height: 30px;
          font-size: 13px;
          display: block;
          color: #666;
          font-weight: 500;
        }
      }
    }//end of .snb

    >nav{
      position: absolute;
      z-index: 200;
      width: 100%;
      top: 110px;
      
      >.gnb{
        width: 1000px;
        margin: 0 auto;
        display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
       

          >li{
            text-align: center;
            
            
            
            >a{
              display: block;
              font-size: 18px;
              font-weight: 700;
              width: 160px;
              height: 50px;
              line-height: 40px;
              transition: all 0.3s;
              
              &:hover{
              color: #4A8F37;
            }
            } 

            >.lnb{
              display: none;
              margin-top: 20px;

              >li{
                


                >a{

                  font-size: 15px;
                  display: block;
                  height: 30px;
                  line-height: 30px;
                  color: #666;
                  text-indent: 10px;

                  &:hover{
                    text-decoration: underline;
                    color: #4A8F37;
                  }

                  }//end of a
                }//end of li
            }//end of .lnb
          }//end of li

      }//end of .gnb

    }//end of nav
  }//end of .container
  }//end of header

  >section.top{
  position: relative;

    >.slides{
      overflow: hidden;
      position: relative;
  
      width: 100%;
      height: 440px;
      margin: 0 auto;

      >.slides-container{
        position: absolute;
        left: calc(-100% * 5);
        top: 0;
        width: 1500%;
        display: flex;
        flex-flow: row nowrap;


        >p{
          font-size: 20px;
          width: calc(100% /15);
          text-indent: -99999px;
          background-position: center center;
          background-size: cover;

          >a{
            display: block;
            height: 440px;
          }
        }

        >.slide-1{
          background-image: url(./../images/slide1.jpg);
        }

        >.slide-2{
          background-image: url(./../images/slide2.jpg);
        }

        >.slide-3{
          background-image: url(./../images/slide3.jpg);
        }

        >.slide-4{
          background-image: url(./../images/slide4.jpg);
        }

        >.slide-5{
          background-image: url(./../images/slide5.jpg);
        }

      }//end of .slides-container


      >.slides-pagination{
        display: flex;
        position: absolute;
        right: 200px;
        bottom: 40px;  
        width: 120px;
        height: 19px;
        line-height: 19px;
       
        
        >li{
          margin: 0 auto;
          text-indent: -9999px;
          width: 10px;
          height: 10px;
          border: 1px solid #aaa;
          background-color: #fff;
          border-radius: 20px;
   

          &.on{
            background-color: #E8BF44;
          }
          
          >a{
            display: block;
            width: 10px;
            height: 10px;
          }
        }// end of li
      }//end of .slides-pagination
    }//end of .slides

    >.quick_link{
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      position: absolute;
      bottom: -10%;
      left: 48%;
      display: flex;
      width: 600px;
      height: 80px;

      >.map{
        background-color: #F7D055;
        border-radius: 30px 0 0 0;  
        
     

        >a{
          display: block;
          width: 300px;
          height: 80px;
          line-height:80px;

           &:before{
            content: '';
            display: block;
            width: 24px;
            height: 30px;
            position: absolute;
            left: 12%;
            top: 25px;
            background-image: url(./../images/icon_map.png);

          }
      
    
        }
      }

      >.franchise{
        background-color: #409035;
        border-radius: 0 0 30px 0 ;
       

        >a{
          display: block;
          color: #fff;
          width: 300px;
          height: 80px;
          line-height:80px;

          &:before{
            content: '';
            display: block;
            width: 24px;
            height: 30px;
            position: absolute;
            right: 38%;
            top: 25px;
            background-image: url(./../images/icon_franchise.png);
          }
        }
      }
    }//end of .quick_link
  }//end of section.top

  >section.mid{
    position: relative;
    margin-top: 100px;
    padding-bottom: 250px;
    
    >.subway_menu{
      margin: 0 auto;
    background-image: url(./../images/bul_tit.png);
    background-size: 60px 60px;
    background-position: 0 0;
    background-repeat: no-repeat;
      position: relative;
      left: -7%;
    width: 1000px;

    >h1{
      color: #292929;
      font-size: 40px;
      font-weight: 800;
      padding-left: 25px;
      padding-top: 10px;
    }

    >ul{
      display: flex;
      position: absolute;
      right: -170px;
      top: 20px;

      >li{
        font-size: 16px;
        font-weight: 500;
        margin-left: 50px;

        &.on >a{
          color:#4A8F37;
          font-weight: 600;
        }

        >a{
          color: #666;
        }

        &:nth-child(1){
          &:after{
            content: '';
            position: absolute;
            left: 120px;
            top: 3px;
            width: 1.5px;
            height: 15px;
            background-color: #ddd;
          } 
        }

        &:nth-child(2){
          &:after{
            content: '';
            position: absolute;
            left: 265px;
            top: 3px;
            width: 1.5px;
            height: 15px;
            background-color: #ddd;
          } 
        }

        &:nth-child(3){
          &:after{
            content: '';
            position: absolute;
            left: 377px;
            top: 3px;
            width: 1.5px;
            height: 15px;
            background-color: #ddd;
          } 
        }
      }//end of li
    }//end of ul
    }//end of .subway_menu

 

      
      >.slide{
        margin: 0 auto;
        width: 1200px;
        height: 320px;
        position: relative;
        overflow: hidden;
        top: 100px;

        >ol{
          position: absolute;
          left: 0;
          top: 0;
          margin-top: 100px;
          margin: 0 auto;
          display: flex;
          width: 1800px;

          >a{
            display: block;


            >ul{
            //border: 1px solid #000;
            text-align: center;
            padding-left: 5px;
            width: 300px;
            height: 320px;
         
          

            /* &:hover{

              >span{
                display: block;
              }
            } */
           
            &:nth-child(6){
              margin-right: 0;
            }

            >div{
              >img{
                display: block;
                width: 270px;
                height: 200px;
              }
              >span{
                display: none;
                position: absolute;
                top: 38%;
                left: 30%;
              }

              p{
                display: none;
                position: absolute;
                top: 57%;
                left: 33%;
                font-size: 20px;
                font-weight: 600;
              }

              &:hover{

                >span{
                  display: block;
                }
            
                >p{
                  display: block;
                }
              }
            }

            >.pth_1{
             
              &:hover{
                padding: 50px 0 200px;
                transform: scale(1.2);
        
              }
            }
            >.pth_2{
              &:hover{
                padding: 50px 0 150px;
                transform: scale(1.2);

                >span{
                  top: 40%;
                }

                p{
                  top: 62%;
                  left: 25%;
                }
              }
            }
            >.pth_3{
              &:hover{
                padding: 50px 0 150px;
                transform: scale(1.2);

                >span{
                  top: 40%;
                }

                p{
                  top: 62%;
                  left: 36%;
                }
              }
            }
            >.pth_4{
              &:hover{
                padding: 50px 0 150px;
                transform: scale(1.2);

                >span{
                  top: 40%;
                }

                p{
                  top: 62%;
                  left: 36%;
                }
              }
            }
            >.pth_5{
              &:hover{
                padding: 50px 0 150px;
                transform: scale(1.2);

                >span{
                  top: 40%;
                }

                p{
                  top: 62%;
                  left: 42%;
                }
              }
            }
            >.pth_6{
              &:hover{
                padding: 50px 0 150px;
                transform: scale(1.2);

                >span{
                  top: 40%;
                }

                p{
                  top: 62%;
                  left: 40%;
                }
              }
            }

            >.tit{

              margin-left: -20px;
              font-size: 18px;
              font-weight: 600;
              margin-bottom: 15px;
            }

            >.tip{
              color:#aaa;              
            }

            
          }//end of ul
        }//end of a
        }//end of ol

      }//end of .slide
      /*이전,다음 버튼*/
      >a{
        margin-top: -50px;
        position: absolute;
        top: 300px;
        display: block;
        width: 50px;
        height: 50px;
       text-indent: -9999px;
      }

      >a.prev{
        background-image: url(./../images/slider_arr.png);
        left: 10px; 


        &:hover{
          background-position: 0 -50px;
        } 
      }

      >a.next{
        background-image: url(./../images/slider_arr.png);
        background-position: -50px 0;
        right: 10px;

        &:hover{
          background-position: -50px 50px;
        } 
      }



  }//end of section.mid

  >section.btm{
    position: relative;
    background-image: url(./../images/bg_content.gif);
    height: 800px;
    width: 100%;
    padding-top: 80px;
    
    >.one{
      width: 1250px;
      margin: 0 auto;
      padding-left: 60px;
      display: flex;
      color: #fff;

      >.left{
        width: 400px;
        height: 300px;
        background-image: url(./../images/bg_left.png);
        
        >p{
          width: 300px;
          font-size: 28px;
          font-weight: 600;
          position: relative;
          left: 10%;
          top: 11%;
        }

        >.link{
          position: relative;
          left: 50px;
          top: 150px;
          text-align: center;
          font-size: 17px;
          width: 90px;
   
          border: 2px solid #fff;
          border-radius: 40px;

          >a{
            display: block;
            height: 35px;
            line-height: 35px;
            color: #fff;
            font-weight: 500;
          }
        }
      }

      >.right{
        background-image: url(./../images/bg_right.png);
        background-position: 10px 0;
        background-repeat: no-repeat;
       // border: 1px solid #000;
        width: 825px;
        height: 300px;

        >p{
          font-size: 28px;
          font-weight: 600;
          position: relative;
          left: 420px;
          top: 40px;
        }
        >.link{
          position: relative;
          right: 270px;
          top: 150px;
          text-align: center;
          font-size: 17px;
          width: 130px;
   
          border: 2px solid #fff;
          border-radius: 40px;

          >a{
            display: block;
            height: 35px;
            line-height: 35px;
            color: #fff;
            font-weight: 500;
          }
        }
      }
    }//end of .one

    >.two{
      width: 1180px;
      height: 300px;
      margin: 0 auto;
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      color: #fff;

      >.bt_lift{
        
        border-radius: 30px 0 30px 0;
        width: 870px;
        background-color: #fff;
        display: flex;

        >.new_01{
          width: 400px;
          
          color: #000;

          background-image: url(./../images/bul_tit.png);
          background-repeat: no-repeat;
          background-position: 50px 60px;

          >p{
            position: relative;
            margin-bottom: 30px;

            &:nth-child(1){
              left: 80px;
              top: 80px;
              font-size: 30px;
              font-weight: 800;
            }

            &:nth-child(2){
              font-size: 16px;
              color: #666;
              text-align: center;
              left: -40px;
              top: 85px;
            }
          }
        }//end of .new_01

        >.new_02{
          width: 450px;
          padding-top: 70px;

          >p{
            position: relative;
            font-size: 16px;
            margin-bottom: 20px;

            &::after{
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              width: 0px;
              height: 2px;
              margin: 5px 0 0;
              transition: all 0.2s ease-in-out;
              transition-duration: 0.3s;
              opacity: 0;
              background-color: #4A8F37;
            }

            &:hover:after{
              width: 65%;
              opacity: 1;
            }
                        
          >a{
            display: block;
            &:hover{
              color: #4A8F37;
            }
          }
          }//end of p

          >span{
            font-size: 14px;
            color: #eee;
            display: block;
       

            >a{
              display: block;
              margin-top: 30px;
              color: #aaa;
            }
          
          }
        }//end of .new_02

      }//end of .bt_lift

      >.bt_rigth{
        >img{
          border-radius: 0 30px 0 30px;
        }
      }
    }//end of .two
  }//end of section.btm

  >section.quick_menu{
    height: 100px;

    ol{
     
      margin: 50px auto;
      width: 1000px;
      height: 40px;
      display: flex;
      justify-content: space-between;

      >a{
        display: block;
      
        >ul{
          position: relative;
          left: 30px;
  

           >div{
            width: 70px;
            height: 70px;
            position: absolute;
            top: -10px;

          }
          >.icon_01{
           background-image: url(./../images/section_icon.png);
           left: -80px;
          }

          >.icon_02{
            background-image: url(./../images/section_icon.png);
            background-position: 210px 0;
            left: -80px;
           }

           >.icon_03{
            background-image: url(./../images/section_icon.png);
            background-position: 140px 0;
            left: -80px;
           }

           >.icon_04{
            background-image: url(./../images/section_icon.png);
            background-position: -210px 0;
            left: -80px;
           }

          >.tit{
            color: #292929;
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 8px;
          }

          >.tip{
            color: #999999;
            font-size: 13px;
          }
        }//end of ul
      }//end of a
    }//end of ol
  }//end of section.quick_menu

  >footer{
    position: relative;
    height: 170px;
    background-color: #292929;

    &:after{
      content: '';
      position: absolute;
      left: 0;
      top: 59px;
      width: 100%;
      height: 1px;
      background-color: #3b3b3b;
    }

    >ul{
      position: absolute;
      left: 10%;
      height: 59px;
      line-height: 59px;
 
      display: flex;

      >li{
        margin-left: 30px;

        &:nth-child(1){
          margin-left: 0;
        }

        &.on{
          font-weight: 600;
          
          >a{
            color: #aaa;
          }
        }

        >a{
          color: #666;
          font-size: 14px;
        }
      }

    }//end of ul

    >address{
      position: absolute;
      left: 10%;
      top: 90px;
      color: #666;
      
      >ul{
        display: flex;
        margin-bottom: 10px;
        
        >li{

          font-size: 13px;
          margin-left: 12px;

          &:nth-child(1){
            margin-left: 0;
          }

            &:nth-child(1)::after{
              display: block;
                content: '';
                position: absolute;
                left:252px;
                top: 3px;
                width: 2px;
                height: 10px;
                background-color: #666666;
          }

          &:nth-child(2)::after{
            display: block;
              content: '';
              position: absolute;
              left:346px;
              top: 3px;
              width: 2px;
              height: 10px;
              background-color: #666666;
        }

        &:nth-child(3)::after{
          display: block;
            content: '';
            position: absolute;
            left:467px;
            top: 3px;
            width: 2px;
            height: 10px;
            background-color: #666666;
      }
          }//end of li
      }//end of ul
    
      >p{
        font-size: 14px;
      }
    }//end of address

   >a{
     text-indent: -9999px;
     position: absolute;
     right: 300px;
     bottom: 40px;
     display: block;
     color: #aaa;
     width: 50px;
     height: 50px;
    }
    
    >.instagram{
      
      overflow: hidden;
      background-image: url(./../images/icon_sns_instar.png);
     background-position: 100px 0;
    
     &:hover{
       background-position: 50px 0;
     }

   }

   >.facebook{
     background-image: url(./../images/icon_sns_facebook.png);
     background-position: 100px 0;
     right: 230px;

     &:hover{
      background-position: 50px 0;
    }
   }
    
  }//end of footer
}